body {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: gray;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkgreen;
  color: white;
  height: 50px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: lightgreen;
  flex-grow: 1;
}

#display {
  width: 800px;
  height: 600px;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  
  padding: 20px;
  border: solid darkgreen 3px;
  border-radius: 5%;
  flex-wrap: wrap;
  background-color: beige;
}

.card {
  height: 110px;
  width: 320px;
  background-color: white;
  padding: 10px;
  margin: 0px 20px 20px 20px;
  border: solid darkgreen 2px;
  border-radius: 10%;
  box-shadow: 10px 5px 5px darkgray;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.title{
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.author{
  font-size: 1.1rem;
  font-style: italic;
  font-weight: normal;
  margin: 0;
}

.pages{
  font-size: 0.8rem;
  align-self: flex-end;
}

.buttons{
  display: flex;
  justify-content: space-around;
}

.read{
  background-color: lightgreen;
  color: darkgreen;
  border: solid darkgreen 1px;
  
}

.unread{
  background-color: lightcoral;
  color: darkred;
  border: solid darkred 1px;
  
}

.status{
  border-radius: 10%;
  flex-basis: 120px;
  
}

.remove{
  background-color: lightcoral;
  color: darkred;
  width: 25px;
  height: 25px;
  border: solid darkred 1px;
  border-radius: 50%;
}

fieldset{
  background-color: beige;
  border: solid darkgreen 3px;
  border-radius: 5%;
  padding: 10px 20px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkgreen;
  color: white;
  height: 50px;
}
